* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    color: black;
    background-color: white;
}
header {
    position: static;
    width: 100%;
    padding: 0rem;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header a img{
    height: 50px;
}
.logo {
    margin: 0;
    padding: 10px 0 5px 0;
    position: relative;
    left: 8%;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.navbar a {
    display: inline-block;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.navbar a:hover {
    color: green;
}
.video-container {
    position: relative;
    width: 100%;
    height: 92vh;
    overflow: hidden;
    z-index: 1;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.7)
    );
    z-index: 0;
}
.home-content {
    position: relative;
    top: 28%;
    left: 10%;
    color: white;
}
.home-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 3.2rem 0 0 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.home-content h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3 span {
    /* color: #D3D3D3 ; */
    color: #87ceeb;
    /* color:#FFD700; */
    /* color:#90EE90; */
    font-size: 40px;
    font-weight: 900;
}
.btn-box {
    position: relative;
    top: 44%;
    left: 10%;
    display: inline-block;
    padding: 12px 28px;
    background: #6878d6;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    animation: pulse 1.5s ease-in-out infinite;
    box-shadow: 0 0 5px #6878d6, 0 0 25px #6878d6;
}
.btn-box:hover {
    background: #8f2fe6;
}
.video-container a {
    position: relative;
    top: 40%;
    left: 10%;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.about {
    /* margin: 4rem 2rem 2rem 5rem; */
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: centre;
    gap: 1.5rem;
    background: whitesmoke;
}
.about-text1 {
    margin: 2rem;
    padding: 1rem;
    color: black;
    font-size: 2rem;
    display: inline-block;
    /* animation: pulse 1.5s ease-in-out infinite; */
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.018);
    }
    100% {
        transform: scale(1);
    }
}
.about-text2 {
    margin: 0 0 0 3rem;
    color: black;
    padding: 4rem 0.3rem 1rem 3rem;
    display: inline-block;
    /* animation: pulse 1.5s ease-in-out infinite; */
}
.about-text2 h3 {
    font-size: 1.8rem;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}
.about-text2 p {
    color: black;
    font-size: 1rem;
    line-height: 2;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.about-text2 a {
    position: relative;
    top: 0%;
    left: 0%;
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.hire-img img {
    padding-left: 1rem;
    margin: 3rem;
    height: 600px;
    max-width: 600px;
    height: auto;
    width: 100%;
    border-radius: 3rem;
    animation: bounce 2.5s infinite;
}
.hire-container {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: centre;
    gap: 1.5rem;
    margin-bottom: 4rem;
}
.progress {
    margin: 3rem 1rem 1rem 0rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0.1rem;
    border-radius: 40px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}
.progress .box {
    margin: 0.8rem;
    text-align: center;
    padding: 0.2rem;
    line-height: 1.5;
    animation: bounce 2.5s ease infinite;
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.progress .box i {
    margin: 0.4rem;
    font-size: 2.1rem;
    /* color: #D3D3D3 ; */
    color: black;
    animation: iconSwing 2s infinite;
    /* color:#FFD700; */
    /* color:#90EE90; */
}
@keyframes iconSwing {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
}
.progress .box h3 {
    font-size: 1.9rem;
    margin-left: 0.5rem;
    font-weight: 900;
    animation: colorChange 3s infinite;
    color: black;
}
@keyframes colorChange {
    0% {
        color: #3aea3a;
    }
    50% {
        color: #324de7;
    }
    100% {
        color: #0dba0d;
    }
}
.progress .box span {
    padding-top: rem;
    color: black;
}
.hire-text {
    background: white;
    margin: 4rem 2rem 1rem 0;
    border: 2px solid white;
    color: black;
    border-radius: 40px;
    padding: 4rem;
    line-height: 1.5;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: bounce 2.4s ease-in-out infinite;
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.hire-text h6 {
    color: red;
    font-size: 1.3rem;
    font-weight: 100;
}
.hire-text h3 {
    font-size: 2.2rem;
}
.hire-text p {
    margin: 1rem 1rem 1rem 0;
    font-size: 1rem;
}
.hire-text a {
    position: relative;
    left: 0%;
}
.menu-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transition: all 0.3s ease;
}
.services {
    margin: 4rem 2rem 2rem 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: centre;
    gap: 1.5rem;
}
.service-box h1 {
    margin: 0 1rem 0 0;
    color: black;
    font-size: 3rem;
    padding: 1rem;
    display: inline-block;
    font-weight: 600;
    /* animation: pulse 1.5s ease-in-out infinite; */
}
.service-box p {
    color: black;
    font-size: 1.3rem;
    line-height: 2;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: inline-block;
    /* animation: pulse 1.5s ease-in-out infinite; */
}
.service-box a {
    position: relative;
    top: 0%;
    left: 0%;
}
.models {
    background-color: rgb(213, 241, 232) ;
    margin: 3rem 0rem 1rem 0rem;
    padding: 1.5rem 2rem;
}
.model-text {
    max-width: 700px;
    margin: 3rem 4rem 1rem 23rem;
    padding: 1.2rem;
}
.model-text h1 {
    font-size: 2.7rem;
    opacity: 1;
    line-height: 1.1;
    /* animation: SideBounce 3s ease-in-out infinite; */
}
.model-text span{
    margin:0;
    font-weight: 600;
    font-size: 18px;
}
@keyframes SideBounce {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-30px);
    }
}
.model-text p {
    margin: 0.5rem 0;
    padding: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.6;
    display: inline-block;
    /* animation: SideBounce 3s ease-in-out infinite; */
}
.model-container {
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: centre;
    gap: 1.5rem;
    opacity: 1;
    animation: SideBounce 3s ease-in-out infinite;
}
.model-box {
    line-height: 1.3;
    border: 2px solid white;
    padding: 4rem 2rem;
    border-radius: 40px;
    background-color: whitesmoke ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeInUp 1s ease-out;
}
.model-box:hover {
    transform: translateY(-10px);
}
.model-box h1 {
    font-size: 2.3rem;
    font-weight: 50;
    animation: colorChange 3s infinite;
}
.model-box p {
    margin: 3rem 0 0rem 0;
    font-size: 1.2rem;
    line-height: 1.6;
}
.arrow-btn {
    margin: 1rem 1rem 2rem 0;
    position: relative;
    top: 20%;
    left: 80%;
    display: inline-block;
    padding: 12px;
    background: rgb(170, 241, 219) ;
    border-radius: 40px;
    color: rgb(30, 8, 8);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.arrow-btn i {
    font-size: 30px;
}
.our-work {
    margin: 4rem 2rem 2rem 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: centre;
    gap: 1.5rem;
}
.work-box h1 {
    margin: 0 1rem 0 0;
    color: black;
    font-size: 3rem;
    padding: 1rem;
    display: inline-block;
    /* animation: pulse 1.5s ease-in-out infinite; */
}
.work-box p {
    color: black;
    font-size: 1.3rem;
    line-height: 2;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: inline-block;
    /* animation: pulse 1.5s ease-in-out infinite; */
}
.work-box a {
    position: relative;
    top: 0%;
    left: 0%;
}
.CUs {
    margin: 2rem 0 0 0;
    background-color: whitesmoke;
}
.contactUs1 {
    margin: 4rem 3rem 0rem 5rem;
    padding: 2rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: centre;
    gap: 1.5rem;
}
.contactUs {
    margin: 4rem 3rem 0rem 5rem;
    padding: 2rem 2rem 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: centre;
    gap: 1.5rem;
}
.Ctext1 {
    max-width: 780px;
    margin: 2rem 1rem 0rem 1rem;
    padding: 2.5rem 1rem;
    /* animation: pulse 2s ease-in-out infinite; */
}
.Ctext1 h1 {
    font-size: 2.5rem;
    color: black;
}
.Ctext1 p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: inline-block;
    color:black;
}
.Ctext2 {
    margin: 0.5rem 1rem 0rem 1rem;
    background: white;
    border: 2px solid white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Ctext2:hover {
    animation: pulse 0.8s ease-in-out infinite;
}
.Ctext2 h3 {
    margin-top: 1rem;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    font-weight: 100;
}
.Ctext2 h1 {
    font-size: 1.8rem;
}
.Ctext2 p {
    font-size: 1.1rem;
    margin: 1rem 0 1rem 0;
    line-height: 1.5;
    color: black;
}
.Ctext2 a {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    top: 10%;
    left: 0%;
    color: black
}
.Ctext2 a:hover {
    background-color: #2cb0f2;
}
.data-box {
    display: grid;
    grid-template-columns: 1fr 4fr 5fr;
    gap: 1rem;
    border: 1px solid white;
    padding: 4rem;
    margin: 0rem;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.data-box h1 {
    font-size: 1.8rem;
    color: black;
    animation: SideBounce 3s ease-in-out infinite;
}
.data-box p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: black;
    animation: SideBounce 3s ease-in-out infinite;
}
.media {
    background: #ccc;
    margin: 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.media-text {
    color: black;
    padding: 1rem 2rem;
}
.media-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.media-text p {
    font-size: 19px;
    font-weight: 100;
    line-height: 1.5;
}
.media-text a {
    position: relative;
    top: 25%;
    left: 0%;
    background-color: #17a2b8;
}
.media-text a:hover {
    background-color: #117a8b;
}
.media-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #ccc;
}
.media-box {
    padding: 2rem;
    border: 0.1px groove;
}
.global-business {
    margin: 0;
    padding: 4rem;
    text-align: center;
    background-color: whitesmoke;
}

.global-text {
    text-align: start;
    margin-bottom: 40px;
    padding: 1rem;
}

.global-text h1 {
    font-size: 2.7rem;
    margin-bottom: 30px;
}

.global-text p {
    font-size: 1.2rem;
    color: black;
    line-height: 1.5;
}

.stats {
    padding: 10px;
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stat {
    background: white;
    margin: 10px;
    padding: 20px 55px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.stat img {
    margin: 25px 0;
    height: 60px;
    width: 70px;
}

.stat h2 {
    color: black;
    font-size: 2.5rem;
    margin: 10px 0;
}

.stat p {
    color: black;
    font-size: 1.1rem;
}
.work-together {
    background: white;
    padding: 3rem 5rem;
}
.work-together-text {
    background: url("cta-img.webp");
    background-size: cover;
    background-position: center;
    padding: 2rem;
}
.work-together-text h5 {
    font-size: 19px;
    font-weight: 200;
    color: black;
    background-color: white;
    width: 190px;
    padding: 10px 15px;
    border-radius: 30px;
    margin: 20px 20px 30px 20px;
}
.work-together-text h1 {
    font-size: 40px;
    margin: 0px 20px 10px 20px;
}
.work-together-text p {
    font-size: 18px;
    margin: 20px 10px 30px 20px;
}
.work-together-text a {
    margin: 30px 0;
    position: relative;
    left: 20px;
    background: #1f60eb;
}
.research {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 60px;
    background: whitesmoke;
}
.research-text {
    color: black;
    padding: 200px 20px;
}
.research-text h1 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.research-text p {
    font-size: 18px;
    line-height: 1.8;
}
.research-text a {
    position: relative;
    left: 0%;
    top: 20%;
}
.research-cards div {
    color: black;
    padding: 20px;
    background: white;
}
.research-cards div h1 {
    margin-top: 20px;
    margin-bottom: 30px;
}
.research-cards div p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 100px;
}
.swiper-container {
    width: 100%;
    height: 60px; /* Adjust the height according to your design */
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    margin: 10px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important; /* Ensure slides resize correctly */
}

.swiper-slide img {
    height: 40px;
    width: auto;
    max-width: 100%; /* Ensure images do not overflow */
    margin-left: 40px;
    margin-right: 10px;
}

.swiper-slide span {
    margin-left: 10px; /* Adjust spacing between image and text */
}
#sWipe {
    padding: 20px 10px;
    background: white;
}

.a-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

.a-btn .arrow {
    margin-right: 10px;
    transition: all 0.4s ease;
}

.a-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease;
}

.a-btn:hover {
    background-color: #0056b3;
    color: white;
}

.a-btn:hover .arrow {
    transform: translateX(5px);
}

.a-btn:hover::before {
    left: 100%;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar a {
        margin-left: 0;
        margin-top: 10px;
    }

    .home-content {
        top: 17%;
        left: 4%;
    }

    .home-content h1 {
        font-size: 2.5rem;
    }

    .home-content h3 {
        font-size: 1.5rem;
        margin-top: 2.3rem;
    }
    .home-content h3 span {
        font-size: 2rem;
    }
    .btn-box {
        top: 33%;
        font-size: 0.9rem;
    }
    .about {
        margin: 2rem 0rem 0rem 1rem;
        padding: 0.1rem;
        grid-template-columns: 1fr;
    }

    .about-text1,
    .about-text2 {
        grid-template-columns: 1fr;
    }
    .about-text1 {
        font-size: 1rem;
        margin: 0rem;
        padding: 0rem;
    }
    .about-text2 {
        margin: 2rem 0 0 0;
        padding: 0;
    }
    .about-text2 h3 {
        font-size: 1.3rem;
    }
    .about-text2 p {
        margin: 0.8rem 0 0 0;
        font-size: 1rem;
    }
    .about-text2 a {
        top: 8%;
        left: 0;
    }

    .hire-img img {
        display: none;
    }

    .hire-container {
        grid-template-columns: 1fr;
        margin: 0.1rem;
        padding: 0.1rem;
    }
    .progress {
        grid-template-columns: 1fr 1fr;
    }
    .progress .box i {
        font-size: 4rem;
    }
    .progress .box h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .hire-text {
        margin: 3rem 2rem 1rem 1rem;
        padding: 2rem;
    }
    .hire-text h6 {
        font-size: 1rem;
        font-weight: 100;
    }
    .hire-text h3 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .hire-text a {
        font-size: 0.7rem;
    }
    .services {
        margin: 2rem 1rem 1rem 1rem;
        padding: 0.1rem;
        grid-template-columns: 1fr;
    }

    .service-box h1 {
        font-size: 1.9rem;
        margin: 0rem;
        padding: 0rem;
    }
    .service-box p {
        margin: 2rem 0 0 0;
        padding: 0;
    }
    .service-box p {
        margin: 0.8rem 0 0 0;
        font-size: 1rem;
    }
    .service-box a {
        margin: 0 0 1rem 0;
        top: 8%;
        left: 0;
    }
    .media {
        margin: 6rem 0rem;
        padding: 2rem 0rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        max-width: 720px;
    }
    .media-text {
        padding: 1rem;
    }
    .media-text h2 {
        font-size: 34px;
        margin-bottom: 20px;
    }
    .media-text p {
        font-size: 16px;
        font-weight: 100;
        line-height: 1.5;
    }
    .media-text a {
        position: relative;
        top: 15%;
        left: 0%;
    }
    .media-boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background: #ccc;
        gap: 2;
    }
    .media-box {
        padding: 0.5rem 0;
        padding-left: 40px;
        border: none;
        margin: 0 2rem;
    }
    .global-business {
        margin: 0;
        padding: 4rem;
        text-align: center;
    }

    .global-text {
        text-align: start;
        margin-bottom: 40px;
        padding: 1rem;
    }

    .global-text h1 {
        font-size: 2.7rem;
        margin-bottom: 30px;
    }

    .global-text p {
        font-size: 1.2rem;
        color: #ccc;
        line-height: 1.5;
    }

    .stats {
        padding: 10px;
        background: whitesmoke;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .stat {
        background: white;
        margin: 10px;
        padding: 20px 55px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .stat img {
        margin: 25px 0;
        height: 60px;
        width: 70px;
    }

    .stat h2 {
        color: black;
        font-size: 2.5rem;
        margin: 10px 0;
    }

    .stat p {
        color: black;
        font-size: 1.1rem;
    }
}
@media (max-width: 1023px) {
    .model-text {
        margin: 2rem 0rem 2rem 0rem;
        padding: 0rem;
    }
    .model-text h1 {
        font-size: 2rem;
    }
    .model-text p {
        margin: 0.5rem;
        padding: 1rem;
        font-size: 1.1rem;
        line-height: 1.6;
    }
    .model-container {
        grid-template-columns: 1fr;
        margin: 0.1rem;
        padding: 0.1rem;
    }
    .model-box {
        padding: 2rem;
        margin: 0;
    }
    .model-box h1 {
        font-size: 2rem;
    }
    .model-box p {
        margin: 2rem 0 1rem 0;
        font-size: 1rem;
        line-height: 1.4;
    }
    .arrow-btn {
        margin: 1rem 1rem 4rem 0;
    }
    .arrow-btn i {
        font-size: 20px;
    }
    .our-work {
        margin: 2rem 1rem 1rem 1rem;
        padding: 0.1rem;
        grid-template-columns: 1fr;
    }

    .work-box h1 {
        font-size: 1.9rem;
        margin: 0rem;
        padding: 0rem;
    }
    .work-box p {
        margin: 0.8rem 0 0 0;
        padding: 0;
        font-size: 1rem;
    }
    .work-box a {
        margin: 0 0 1rem 0;
        top: 8%;
        left: 0;
    }
    .contactUs {
        margin: 2rem 0rem;
        padding: 0rem;
        grid-template-columns: 1fr;
    }
    .Ctext1 {
        /* max-width:350px; */
        margin: 1rem;
        padding: 0rem;
    }
    .Ctext1 h1 {
        font-size: 2rem;
    }
    .Ctext1 p {
        font-size: 1rem;
    }
    .Ctext2 {
        margin: 0.5rem;
        padding: 1rem;
        /* max-width: 340px; */
    }
    .Ctext2 h3 {
        font-size: 1.2rem;
    }
    .Ctext2 h1 {
        font-size: 1.5rem;
    }
    .Ctext2 p {
        font-size: 1rem;
        margin: 1rem 0 1rem 0;
    }
    .data-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        border: 1px groove black;
        padding: 1rem 2.5rem;
        margin: 0rem 1rem;
    }
    .data-box h1 {
        font-size: 1.3rem;
    }
    .data-box p {
        font-size: 1rem;
        line-height: 1.5;
    }
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #081b29;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        margin: 8px 0;
        padding: 8px;
        width: 100%;
        text-align: center;
        border-top: 1px solid #ccc;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media (min-width: 769px) and (max-width: 1280px) {
    .hire-container {
        margin: 1rem;
    }
    .hire-img img {
        margin: 1rem 0.5rem 0.5rem 0rem;
        max-width: 600px;
        height: 950px;
    }
}
